<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <title>Lista cliente</title>
</head>
<body>
<!--Menu-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a th:href="@{/}" class="navbar-brand">Logo</a>
    <button
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#menu"
            type="button"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--Links-->
    <div id="menu" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/instituicaoList/}">Instituição</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/pessoaList/}">Cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/refeicaoList/}">Cardápio</a>
            </li>
        </ul>
    </div>
</nav>

<!--Content-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Lista de clientes</h1>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table
                    class="table table-sm table-striped table-hover table-bordered"
            >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pessoa : ${pessoas}">
                    <td th:text="${pessoa.id}"></td>
                    <td th:text="${pessoa.nome}"></td>
                    <td th:text="${pessoa.email}"></td>
                    <td th:text="${pessoa.celular}"></td>
                    <td>
                        <div class="btn-group pull-right">
                            <a
                                    class="btn btn-sm btn-primary"
                                    th:href="@{/edit/{id}(id=${pessoa.id})}"
                            >Editar</a
                            >
                            <a
                                    class="delete btn btn-sm btn-danger"
                                    th:href="@{/delete/{id}(id=${pessoa.id})}"
                            >Excluir</a
                            >
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" th:href="@{/pessoaAdd/}">Adicionar</a>
    </div>
    <hr />
</div>

<!--Footer-->
<footer class="container">
    <p>Todos os direitos reservados</p>

    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
    ></script>
</footer>
</body>
</html>
